{
    "unigram_words_path":"../../model/glove/vocabulary_200dim.pkl",
    "prefetch_model_path":null,
    "prefetch_model_folder":"../../model/prefetch/acl/",
    "embed_dim": 200,
    "encoder_gpu_list":[0],
    "num_heads":8,
    "hidden_dim":1024,
    "max_seq_len": 512,
    "max_doc_len":3,
    "n_para_types": 100,
    "num_enc_layers":1,  
    "prefetch_embedding_path":"../../embedding/prefetch/acl/paper_embedding.pkl",
    "paper_database_path": "../../data/acl/papers.json",
    "available_paper_ids_path":null,
    "paragraphs_cache_size":8,
    "shuffle_seed":null,
    "start":0,
    "size":0
}
