{
    "start":0,
    "size":0,
    "output_corpus_path":"../../data/acl/val_with_NN_prefetched_ids_for_reranking.json",
    "unigram_words_path":"../../model/glove/vocabulary_200dim.pkl",
    "prefetch_model_path":null,
    "prefetch_model_folder":"../../model/prefetch/acl/",
    "inverted_index_path":"../../data/acl/papers_inverted_index.pkl",
    "embed_dim":200,
    "encoder_gpu_list":[0],
    "num_heads":8,
    "hidden_dim":1024,
    "max_seq_len":512,
    "max_doc_len":3,
    "n_para_types":100,
    "num_enc_layers":1,
    "prefetch_embedding_path":"../../embedding/prefetch/acl/paper_embedding.pkl",
    "ranker_gpu_list":[0],
    "paper_database_path": "../../data/acl/papers.json",
    "context_database_path":"../../data/acl/contexts.json",
    "input_corpus_path":"../../data/acl/val.json",
    "top_K":2048,
    "shuffle_seed":null,
    "cr_mode":"local"
}
