{
    "log_folder":"../../log/prefetch/acl/",
    "log_file_name":"test_NN.log",
    "start":0,
    "size":0,
    "prefetch_results_save_path":"../../results/prefetch/acl/test_NN_results.pkl",
    "unigram_words_path":"../../model/glove/vocabulary_200dim.pkl",
    "use_BM25":0,
    "inverted_index_path":null,
    "prefetch_model_path":null,
    "prefetch_model_folder":"../../model/prefetch/acl/",
    "embed_dim": 200,
    "encoder_gpu_list":[0],
    "num_heads":8,
    "hidden_dim":1024,
    "max_seq_len": 512,
    "max_doc_len":3,
    "n_para_types": 100,
    "num_enc_layers":1,
    "prefetch_embedding_path":"../../embedding/prefetch/acl/paper_embedding.pkl",
    "ranker_gpu_list":[0],
    "paper_database_path": "../../data/acl/papers.json",
    "corpus_path":"../../data/acl/test.json",
    "context_database_path":"../../data/acl/contexts.json",
    "K_list": [10,20,50,100,200,500,1000,2000],
    "print_every": 0,
    "cr_mode":"local"
}
