{
    "log_folder":"../../log/prefetch/acl/",
    "log_file_name":"train.log",
    "unigram_embedding_path":"../../model/glove/unigram_embeddings_200dim.pkl",
    "unigram_words_path":"../../model/glove/vocabulary_200dim.pkl",
    "model_folder": "../../model/prefetch/acl/",
    "paper_database_path": "../../data/acl/papers.json",
    "train_corpus_path":"../../data/acl/train_with_prefetched_ids.json",
    "val_corpus_path":"../../data/acl/val_with_prefetched_ids.json",
    "context_database_path":"../../data/acl/contexts.json",
    "max_seq_len":512,
    "max_doc_len":3,
    "max_n_sample":450,
    "max_n_positive":1,
    "max_n_hard_negative":3,
    "max_n_easy_negative":1,
    "n_query_per_batch":1,
    "num_workers":4,
    "restore_old_checkpoint":true,
    "num_heads":8,
    "hidden_dim":1024,
    "n_para_types":100,
    "num_enc_layers":1,
    "gpu_list":null,
    "n_device":2,
    "initial_learning_rate":1e-4,
    "l2_weight":1e-5,
    "base_margin": 0.05,
    "max_num_iterations": 5000,
    "dropout_rate":0.1,
    "moving_average_decay":0.999,
    "print_every": 1000,
    "save_every": 5000,
    "validate_every":null,
    "num_validation_iterations":null,
    "similarity":"cosine",
    "positive_irrelevance_levels":[1,2],
    "cr_mode":"local",
    "available_paper_ids_path":null,
    "max_num_checkpoints": 20
}
