{
    "model_folder":"../../model/rerank/custom/scibert/NN_prefetch/",
    "model_path":null,
    "initial_model_path":"allenai/scibert_scivocab_uncased",
    "log_folder":"../../log/rerank/custom/scibert/NN_prefetch/",
    "log_file_name":"validate.log",
    "paper_database_path":"../../data/custom/papers.json",
    "corpus_path":"../../data/custom/val_with_prefetched_ids.json",
    "n_device":1,
    "n_query_per_batch":1,
    "sub_batch_size":50,
    "gpu_list":null,
    "num_workers":2,
    "max_input_length":512,
    "rerank_top_K":2000,
    "start":0,
    "size":0,
    "rerank_results_save_path":"../../results/rerank/custom/scibert/NN_prefetch/validate_results.pkl",
    "context_database_path":"../../data/custom/contexts.json",
    "K_list":[10,20]
}
