{
    "model_folder":"../../model/rerank/acl/scibert/NN_prefetch/",
    "model_path":null,
    "initial_model_path":"allenai/scibert_scivocab_uncased",
    "log_folder":"../../log/rerank/acl/scibert/oracle_prefetch/",
    "log_file_name":"test_results_rerank_top_2000.log",
    "paper_database_path":"../../data/acl/papers.json",
    "corpus_path":"../../data/acl/test_with_oracle_prefetched_ids_for_reranking.json",
    "n_device":2,
    "n_query_per_batch":1,
    "sub_batch_size":50,
    "gpu_list":null,
    "num_workers":4,
    "max_input_length":450,
    "max_output_length":62,
    "rerank_top_K":2000,
    "start":0,
    "size":0,
    "rerank_results_save_path":"../../results/rerank/acl/scibert/oracle_prefetch/test_results_rerank_top_2000.pkl",
    "cr_mode":"local",
    "context_database_path":"../../data/acl/contexts.json",
    "K_list":[10,20,30,40,50,80,100]
}
