{
    "model_folder":"../../model/rerank/acl/scibert/NN_prefetch/",
    "initial_model_path":"allenai/scibert_scivocab_uncased",
    "log_folder":"../../log/rerank/acl/scibert/NN_prefetch/",
    "log_file_name":"train.log",
    "paper_database_path":"../../data/acl/papers.json",
    "train_corpus_path":"../../data/acl/train_with_NN_prefetched_ids_for_reranking_scibert.json",
    "val_corpus_path":"../../data/acl/val_with_NN_prefetched_ids_for_reranking_scibert.json",
    "num_epochs":5,
    "n_device":2,
    "n_document":64,
    "n_query_per_batch":1,
    "gpu_list":null,
    "restore_old_checkpoint":1,
    "initial_learning_rate":1e-5,
    "l2_weight":0.01,
    "num_workers":4,
    "print_every":1000,
    "save_every":5000,
    "validate_every":5000,
    "num_validation_iterations":1000,
    "max_input_length":450,
    "max_output_length":62,
    "base_margin":0.1,
    "rerank_top_K":2000,
    "max_n_positive":10,
    "cr_mode":"local",
    "context_database_path":"../../data/acl/contexts.json",
    "train_corpus_sampling_ratio":1.0,
    "val_corpus_sampling_ratio":1.0,
    "max_num_checkpoints":20
}
