{
    "model_folder":"../../model/rerank/acl/scibert/NN_prefetch/",
    "model_path":null,
    "initial_model_path":"allenai/scibert_scivocab_uncased",
    "log_folder":"../../log/rerank/acl/scibert/NN_prefetch/",
    "log_file_name":"validate.log",
    "paper_database_path":"../../data/acl/papers.json",
    "corpus_path":"../../data/acl/val_with_NN_prefetched_ids_for_reranking_scibert.json",
    "n_device":1,
    "n_query_per_batch":1,
    "sub_batch_size":50,
    "gpu_list":null,
    "num_workers":2,
    "max_input_length":450,
    "max_output_length":62,
    "rerank_top_K":2000,
    "start":0,
    "size":0,
    "rerank_results_save_path":"../../results/rerank/acl/scibert/NN_prefetch/validate_results.pkl",
    "cr_mode":"local",
    "context_database_path":"../../data/acl/contexts.json",
    "K_list":[10,20]
}
