20000   # Max number of papers in the database. For custom it is 19776, but we can set it to 20000
20000    # If you have multiple GPUs, you can compute the embedding on each GPU in parallel, so each GPU only needs to compute a part. For example, for 8 GPUs, each GPU only computes embeddings of 20000/8= 2500. For a single GPU, this number is equal to the first value
config/custom/compute_papers_embedding.config  # This file contains all the necessary configuration for computing the paper embeddings on the custom dataset
signal_custom_train.temp     # This is used for synchronization, to make sure that multiple processes of computing embeddings all end
../../embedding/prefetch/custom/paper_embedding.pkl_    # the prefix of the computed embedding files. When computing embedding using multiple processes, multiple embeddings files will be generated, and we then need to merge them together
../../embedding/prefetch/custom/paper_embedding.pkl     # the final merged embedding file name
10  # When training the prefetcher, we will experience a loop of 1) training for certain number of iterations; 2) updating all paper embeddings using current checkpoint; 3) re-computing prefetched candidates and 4) start training again. Here 25 represents the maximum number of loops  
40000 # The number of training examples whose prefetched candidates will be updated. Note that we don't need to update the prefetched candidates for all the training examples in the training set, because for some dataset the training set are too large!
40000  # Number of training examples updates per GPU
config/custom/get_prefetched_ids_train.config 
signal_custom_train.temp   # This is just a signal file that is used to synchronize different processes for multiple-GPU computing
../../data/custom/train_with_prefetched_ids.json_  # The file prefix name for training examples with prefetched ids as hard negative, this prefix is used for multiple-gpu computation
../../data/custom/train_with_prefetched_ids.json
800 # The number of validation examples whose prefetched candidates will be updated. 
800 # Number of validation examples updates per GPU
config/custom/get_prefetched_ids_validate.config 
signal_custom_train.temp
../../data/custom/val_with_prefetched_ids.json_
../../data/custom/val_with_prefetched_ids.json
config/custom/training.config   # This is the config file for the training phase of the model
config/custom/validate_NN.config
../../data/custom/train.json
../../data/custom/train_with_prefetched_ids.json  # This file will be generated and dynamically updated during training
../../data/custom/val.json
../../data/custom/val_with_prefetched_ids.json
