{
    "log_folder":"../../log/prefetch/custom/",
    "log_file_name":"validate_NN.log",
    "start":0,
    "size":0,
    "prefetch_results_save_path":"../../results/prefetch/custom/validate_NN_results.pkl",
    "unigram_words_path":"../../model/glove/vocabulary_200dim.pkl",
    "use_BM25":0,
    "inverted_index_path":null,
    "prefetch_model_path":null,
    "prefetch_model_folder":"../../model/prefetch/custom/",
    "embed_dim": 200,
    "encoder_gpu_list":[0],
    "num_heads":8,
    "hidden_dim":1024,
    "max_seq_len": 512,
    "max_doc_len":3,
    "n_para_types": 100,
    "num_enc_layers":1,
    "prefetch_embedding_path":"../../embedding/prefetch/custom/paper_embedding.pkl",
    "ranker_gpu_list":[0],
    "paper_database_path": "../../data/custom/papers.json",
    "corpus_path":"../../data/custom/val.json",
    "context_database_path":"../../data/custom/contexts.json",
    "K_list": [10,20,50,100,200,500,1000,2000],
    "print_every": 0,
    "cr_mode":"local"
}
